.general__container {
    width: 960px;
    margin: 0 auto;
}

.kmarket__logo {
    display: block;
    margin: 60px auto;
}

.flexbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 30px;
}
.itemBox {
    display: flex;
    margin-bottom: 30px;

}
.kmarket__subsImg {
    width: 100%;
    max-width: 883px;
}
.kmarket__monthlyImg01 {
    width: 100%;
    // width: 415px;
    // margin: 10px auto;
}
.kmarket__monthlyImg02 {
    width: 100%;
    // width: 468px;
    // margin: 10px auto;

}
@media screen and (max-width:767px){
    .kmarket__logo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 282px;
        width: 100%;
    }
}