.map__container {
    // background-color: rgb(232, 238, 144);
    width: 90%;
    display: block;
    margin: 0 auto;
}

.map__box {
    width: 80%;
    background-color: aquamarine;
    display: block;
    margin: 0 auto;

    width: 940px;
    height: 370px;
}

.map__item {
    background-color: black;

    display: block;
    margin: 0 auto;
    width: 70000px;

}