.contact__logo {
    display: block;
    margin: 60px auto;
}

.contact__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    margin: 30px;
}
.contact__box {
    // background-color: lightcoral;

    min-height: 150px;
    flex-basis: 23.5%;
    flex-shrink: 1;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

}

// .contact__img {
//     background-color: lightcoral;

//     min-height: 150px;
//     flex-basis: 23.5%;
//     flex-shrink: 1;
//     flex-grow: 1;

//     display: flex;
//     justify-content: center;
//     align-items: center;
    
// }
.contact__text {
    font-size: 12px;

}

@media screen and (max-width:1023px){
    .contact__box { 
        flex-basis: 49%;
    }
}
@media screen and (max-width:767px){
    .contact__box {
        flex-basis: 100%;
        // margin-right: 50px;
    }
}