.general__container {
    width: 960px;
    margin: 0 auto;
}

.contact__logo {
    display: block;
    margin: 60px auto;
}

.contact__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 883px;
    margin:0 auto
}
.contact__box {
    // background-color: lightcoral;

    min-height: 150px;
    flex-basis: 23.5%;
    flex-shrink: 1;

    display: flex;
    align-items: center;
    // justify-content: center;
    // margin-right: 40px;

}

.contact__img {
    flex-grow: 1;

}
.contact__text {
    font-size: 12px;
    width: 100%;
    flex-grow: 4;

}

@media screen and (max-width:1023px){
    .contact__box { 
        flex-basis: 49%;
    }
}
@media screen and (max-width:767px){
    .contact__box {
        flex-basis: 100%;
        // margin-right: 50px;
    }
}

@media screen and (max-width:767px){
    .contact__logo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 142px;
        width: 100%;
    }
    .about__textBox{
        justify-content: center;
    }
    .contact__text{
        font-size: 14px;
        width: 100%;
        margin-bottom: 60px;
    }
}

