.contact__img {
    display: block;
    margin: 60px auto;
    width: 100%;
}

.contact__adress {
    // position: absolute;
    // top: 6500px;
    left: 153px;
    color: #444444;
    font-family: 'verdana';
    font-size: 12px;
}