.family__logo {
    display: block;
    margin: 60px auto;
}

.family__img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 250px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:767px){
    .family__logo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 222px;
        width: 100%;
    }
    .family__img {
        img {
            width: 100%;
            max-width: 250px;
        }
    }
}