.process__logo {
    display: block;
    margin: 60px auto;
}

.process_step {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

@media screen and (max-width:767px){
    .process__logo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 380px;
        width: 100%;
    }
}
@media screen and (max-width:467px){
    .process_img01 {
        max-width: 244px;
    }
    .process_img02 {
        max-width: 223px;
    }
    .process_img03 {
        max-width: 261px;
    }
    .process_img04 {
        max-width: 178px;
    }

    .process_step01>img, .process_step02>img {
        display: block;
        width: 100%;
    }
}