.process__logo {
    display: block;
    margin: 60px auto;
}

.process_step {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    height: 725px;
    width: 1116px;
}

.process_step01 .process_step02 .process_step03 .process_step04 {
    min-height: 150px;
    flex-basis: 23.5%;
    flex-shrink: 1;
    flex-grow: 1;
}
@media screen and (max-width:1023px){
    .process_step01 .process_step02 .process_step03 .process_step04{ 
        flex-basis: 49%;
    }
}
@media screen and (max-width:767px){
    .process_step01 .process_step02 .process_step03 .process_step04 {
        flex-basis: 100%;
    }
}