.footer__container {
    background-color: #474747;
    width: 100%;
    color: #b2b2b2;
    margin-top: 50px;

}

.footer__flexbox {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding:0.5rem 2rem;
    position: right;
}

.footer__item {
    p {
        margin: 0 20px;
        font-size: 15px;
        font-weight: bold;
        align-items: center;
    }
}
.footer__icons {
    a:link,:visited {
        color: #b2b2b2;
        text-decoration: none;
    }
    a:hover {
        color: #000000;
        text-decoration: underline;
    }

    svg {
        margin: 0 10px;
    }
}

@media screen and (max-width:696px){
    .footer__flexbox {
        display: block;
        padding:0.5rem 2rem;
    }
    .footer__item{
        width: auto;
    }
    .footer__item__right{
        text-align: right;
    }
}